<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyConn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasyConn.Properties.Settings>
            <setting name="ip_locale" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="ip_remoto" serializeAs="String">
                <value>151.11.22.211</value>
            </setting>
            <setting name="is_locale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tag_html" serializeAs="String">
                <value>&lt;html&gt;</value>
            </setting>
            <setting name="utilizza_tag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="data_compression" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="salvaPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_seriale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_remoto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="portaCom" serializeAs="String">
                <value />
            </setting>
            <setting name="porta_locale" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="porta_remota" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="velocitaCom" serializeAs="String">
                <value />
            </setting>
            <setting name="indirizzo_update" serializeAs="String">
                <value>ftp://151.11.22.210/upgrade/</value>
            </setting>
            <setting name="is_turbo" serializeAs="String">
                <value>False</value>
            </setting>
        </EasyConn.Properties.Settings>
    </userSettings>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib"  />
    </assemblyBinding>
  </runtime>
</configuration>